body {
    color:white;
    background-color: #00098a;
}

section {
    padding-bottom: 100px;
}

#section1 {
    padding-top: 50px;
}

h1, ul {
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}